# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Hardhat specific
cache/
artifacts/
bin/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore Visual Studio Code settings
.vscode/

# Ignore the states folder
.states/
node_modules/
contracts/artifacts/

